<h1>Novo produto</h1>

<form action="/produtos" method="post" enctype="application/x-www-form-urlencoded">
    <div class="mb-3">
        <label for="nome" class="form-label">Nome do Produto</label>
        <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome do Produto">
    </div>
    <div class="mb-3">
        <label for="preco" class="form-label">Preço do Produto</label>
        <div class="input-group mb-3">
            <span class="input-group-text">R$</span>
            <input type="number" id="preco" name="preco" class="form-control" aria-label="Preço" min="1">
            <span class="input-group-text">,00</span>
        </div>
    </div>
    <div class="mb-3">
        <a href="/" class="btn btn-secondary">Voltar</a>
        <button type="submit" class="btn btn-success">Salvar</button>
    </div>

</form>